<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="w-50 form-group">
                    <label for="email">Email</label><br>
                    <input id="email" type="email" formControlName="email" class="form-control" required email> 
                </div>
                <div class="w-50 form-group">
                    <label for="password">Password</label><br>
                    <input id="password" type="password" formControlName="password" class="form-control" required minlength="7"> 
                </div>
                
                <button type="submit" class="btn btn-success" [disabled]="!form.valid">SignIn</button>
            </form>
        </div>
    </div>
</div>

